<p id="notice"><%= notice %></p>

<h1 class="display-4">Veiwing sitter, <%= @pet_sitter.name %>.</h1>

<p>
  <strong>Name:</strong>
  <%= @pet_sitter.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pet_sitter.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet_sitter.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @pet_sitter.cost %>
</p>

<% if user_signed_in? %>
  <button type="button" class="btn btn-outline-success"> <a class="link-success" <%= link_to 'Edit', edit_pet_sitter_path(@pet_sitter) %> </a></button>
<% end %>
<button type="button" class="btn btn-outline-primary"> <a class="link-primary" <%= link_to 'Back', pet_sitters_path %>  </a></button>
